h1 {
  color: #00204a;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 200;
  margin: 15px 15px 30px 0;
}

p {
  margin: 30px 15px 30px 0;
  color: #00204a;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 500;
}

input[type="text"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  outline: 0;
  width: 300px;
  font-family: "Poppins", sans-serif;
  font-size: large;
}
input[type="submit"] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  background-color: #00204a;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-size: large;
}
ul {
  margin: 30px 15px 30px 0;
  color: #00204a;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 300;
  list-style-type: none;
}
.city-name {
  margin-bottom: 0 auto;
}
.current-date {
  margin-top: 0 auto;
}
.emoji img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
  float: right;
}

.col-4 .active {
  color: #00204a;
  cursor: default;
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.container {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-forecast {
  margin: 30px 15px 30px 15px;
  text-align: center;
  color: #00204a;
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: bolder;
}

.weather-forecast-date {
  font-size: medium;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
